/* COLORS */
/* #0B283B
#CBA247
#A51C1C
#383838
#2B2B2B
#8A8B8B */

body {
  background-color: #2b2b2b;
}



h1 {
  font-size: calc(42px + (48 - 42) * ((100vw - 300px) / (1600 - 300)));
}

h2 {
  font-size: calc(32px + (36 - 32) * ((100vw - 300px) / (1600 - 300)));
}

h3 {
  font-size: calc(24px + (28 - 22) * ((100vw - 300px) / (1600 - 300)));
}

p,
nav,
label,
input,
.date {
  font-size: calc(16px + (18 - 16) * ((100vw - 300px) / (1600 - 300)));
}




/* ---------------------- */
/* --------HEADER-------- */
/* ---------------------- */
header {
  padding: 1.6rem;
  background-color: #383838;
  display: flex;
  /* align-items: flex-end; */
  flex-direction: column;

}


/* ---------------------- */
/* ------SITE BRAND------ */
/* ---------------------- */
.site-brand {
  display: flex;
  width: 100%;
  /* flex-direction: column; */
  align-items: flex-end;

}

.site-brand-logo {
  width: 8rem;
  height: auto;
}

.site-brand-title {
  font-family: 'rox';
  font-size: calc(20px + (22 - 20) * ((100vw - 300px) / (1600 - 300)));
  margin: -1rem 0 0 -5rem;
  color: #0B283B;
  text-shadow: 2px 2px 2px black, -2px 2px 2px black, 2px -2px 2px black,
    1px 2px 2px black, 2px 1px 2px black, -1px 2px 2px black, 2px -1px 2px black,
    1px -2px 2px black, -2px 1px 2px black, -1px -2px 2px black,
    -2px -1px 2px black, 1px 1px 2px black, -1px -1px 2px black,
    -1px 1px 2px black, 1px -1px 2px black, 0px 2px 2px black, 2px 0px 2px black,
    -2px 0px 2px black, 0px -2px 2px black, 0px 1px 2px black, 1px 0px 2px black,
    0px -1px 2px black, -1px 0px 2px black, 0px 0px 2px black;
  /* 6px 6px 6px #A51C1C, -6px 6px 6px #A51C1C,
    6px -6px 6px #A51C1C, 1px 6px 6px #A51C1C,
    6px 1px 6px #A51C1C, -1px 6px 6px #A51C1C,
    6px -1px 6px #A51C1C, 1px -6px 6px #A51C1C,
    -6px 1px 6px #A51C1C, -1px -6px 6px #A51C1C,
    -6px -1px 6px #A51C1C, 1px 1px 6px #A51C1C,
    -1px -1px 6px #A51C1C, -1px 1px 6px #A51C1C,
    1px -1px 6px #A51C1C, 0px 6px 6px #A51C1C,
    6px 0px 6px #A51C1C, -6px 0px 6px #A51C1C,
    0px -6px 6px #A51C1C, 0px 1px 6px #A51C1C,
    1px 0px 6px #A51C1C, 0px -1px 6px #A51C1C,
    -1px 0px 6px #A51C1C, 0px 0px 6px #A51C1C,
    0 0 30px black; */
}


/* nav */

.top-nav {
  width: 100%;
}

.top-nav_nav {
  width: 100%;
  margin-left: auto;
}

.top-nav_list {
  display: flex;
  justify-content: space-evenly;
  width: 100%;

}